@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "poppins";
}
:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
}
body {
  min-height: 100vh;
  background-color: var(--background);
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: 0.5s ease-in-out;
}

.navbar.scrolled {
  padding: 1em 10%;
  transition: 0.5s ease-in-out;
  background-color: #191970;
}

.navbar.scrolled .btn {
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5em;
  font-size: 1em;
  cursor: pointer;
  background-color: #ff6347;
  border: none;
  transition: 0.3s ease-in-out;
}

.navbar.scrolled .btn:hover {
  background-color: #dc143c;
  color: white;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3em;
}
nav ul a {
  position: relative;
  color: white;
  padding-bottom: 5px;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #ff8c00;
  transition: width 0.4s ease-in-out;
}
nav ul a:hover::after {
  width: 100%;
}

.logo {
  font-size: 2em;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  opacity: 1;
}
.btn {
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5em;
  font-size: 1em;
  cursor: pointer;
  background-color: #dc143c;
  border: none;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: #ff6347;
  color: white;
}
span {
  background: linear-gradient(to right, #00ffff, #32cd32);
  background-clip: text;
  color: transparent;
}
#menu {
  color: white;
  font-size: 3em;
  display: none;
}
section {
  min-height: 100vh;
  padding: 5% 15%;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
}
#home img {
  width: 25vw;
  height: 18vw;
  border-radius: 10px;
  margin-top: 5em;
}
.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  max-width: 600px;
}
.info-box h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.reveal-text span {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  animation: fallIn 0.8s ease-out forwards;
}

@keyframes fallIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal-text span:nth-child(1) {
  animation-delay: 0s;
}
.reveal-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.reveal-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.reveal-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.reveal-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.reveal-text span:nth-child(6) {
  animation-delay: 1s;
}
.reveal-text span:nth-child(7) {
  animation-delay: 1.2s;
}

.info-box h3 {
  font-size: 2em;
  font-weight: 400;
}
.info-box p {
  opacity: 0.7;
  text-align: left;
}
.profile {
  font-size: 2.5em;
  display: flex;
  gap: 1em;
}

.profile a {
  color: #ff8c00;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.profile a:hover {
  transform: scale(1.2);
  color: #dc143c;
}
.btn-box {
  display: flex;
  gap: 1em;
}

.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scroll-up-button.show {
  opacity: 1;
  visibility: visible;
}

.scroll-up-button:hover {
  background-color: #ff6347;
}

#about {
  background-color: var(--second-background);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5em;
}
#about img {
  width: 30vw;
  height: 20vw;
  border-radius: 1em;
}
.about-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}
.about-box h1 {
  font-size: 4em;
}
.about-box p {
  color: white;
  opacity: 0.8;
  font-size: 0.8em;
  padding: 0% 2%;
  text-align: justify;
}
.skills {
  display: flex;
  text-align: center;
  gap: 5em;
}
.skills ul {
  font-size: 0.9em;
  font-weight: 450;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
}
.skills ul li span {
  display: flex;
  gap: 0.4em;
  align-items: center;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}
.skills ul li:hover {
  transform: translate(10px);
}
.skills ul li {
  font-size: 1em;
}
.about-box h2 {
  font-size: 2em;
}
#project {
  background-color: var(--background);
}

.header {
  text-align: center;
  font-size: 4em;
  margin: 0.5em 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.project-box {
  background: #1a1a1a;
  padding: 1.5em;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(255, 140, 0, 0.5);
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.project-header h3 {
  font-size: 1.5em;
  color: #ff8c00;
  padding: 1em;
}

.project-header a {
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}
.projects-container i {
  color: #ff8c00;
  font-size: 2em;
  transition: 0.3s ease-in-out;
}

.projects-container i:hover {
  transform: scale(1.2);
  color: #ff4500;
}

.projects-container p {
  color: white;
  padding: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Project-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 1em;
}

.Project-img:hover {
  transform: scale(1.05);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-section {
  text-align: center;
  padding-bottom: 3em;
  color: white;
}
.cta-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.cta-section p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  opacity: 0.9;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

form .input-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
}

.input-box span {
  font-size: 1.5em;
}

form input,
form textarea {
  font-size: 1.3em;
  padding: 1em 5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
}

form input:focus,
form textarea:focus {
  background: rgb(229, 229, 229);
}

form textarea {
  resize: none;
}

#resume {
  background-color: var(--second-background);
}

.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.thanks-section {
  text-align: center;
  padding: 50px 20px;
  font-size: 18px;
}

.thanks-section h2 {
  font-size: 26px;
  margin-bottom: 10px;
}
.thanks-section p {
  color: white;
}
@media (max-width: 968px) {
  section {
    padding: 8em 15%;
  }
  nav .btn {
    display: none;
  }

  #menu {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }

  nav ul a::after {
    left: 0;
  }

  .links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1em 3em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: none;
  }

  .links a {
    margin: 2em 0;
    display: block;
    font-size: 1.5em;
    color: white;
  }

  .links.active {
    display: block;
  }
  #home h1 {
    font-size: 4em;
  }
  #home h3 {
    font-size: 2em;
  }
  #home img {
    width: 24vw;
  }
  #about {
    flex-direction: column;
  }

  #about p {
    font-size: 3.5vw;
    padding: 0% 9%;
  }
  #about .skills {
    gap: 1em;
  }
  #about img {
    width: 70vw;
    height: 50vw;
    border-radius: 1em;
  }
  #about h1 {
    font-size: 3em;
  }
  #about ul {
    font-size: 1em;
  }

  form {
    gap: 1.2em;
  }

  .input-box span {
    font-size: 1.2em;
  }

  form input,
  form textarea {
    font-size: 1em;
    padding: 0.7em 1.5em;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  nav ul {
    text-align: left;
    gap: 1em;
  }

  nav ul a {
    font-size: 1.2em;
  }

  #home h1 {
    font-size: 2.5em;
  }
  #home h3 {
    font-size: 1.5em;
  }
  #home img {
    width: 70vw;
    height: 50vw;
  }
  #about p {
    font-size: 3.5vw;
    padding: 1.5% 4%;
  }
  #about .skills {
    gap: 0.8em;
  }
  #about img {
    width: 70vw;
    height: 50vw;
    border-radius: 1em;
  }

  #project .header {
    font-size: 3em;
  }
  #contact .header {
    font-size: 3em;
  }

  #contact .input-box span {
    font-size: 1.2em;
  }

  .input-box input {
    padding: 0.5em 1em;
  }

  form textarea {
    font-size: 1.2em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
  }

  #resume .header {
    font-size: 3em;
  }

  .scroll-up-button.show {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}
